/Java/EasyRPCLibrary/nbproject/private/
/Java/EasyRPCLibrary/build/
/Java/EasyRPCLibrary/dist/
/Java/Example1/dist/
/Java/Example1/build/
/Java/Example1/nbproject/private/
*.jar
*.pyc
*.vsidx

# Version on C
C/EasyRPC/EasyRPC/x64
*.suo
*.db
*.ipch
read.lock
*.exe
*.exe.recipe
*.obj
*.tlog
*.log
*.idb
*.pdb
*.ilk

/C/FunctionsBuilder/out
/C/FunctionsBuilder/.vs
